@charset "utf-8";
/*重置margin样式*/
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd{
    margin:0; /*上下左右外边距为0*/
}
/*重置padding样式*/
ul,ol{
    padding:0; /*上下左右内边距为0*/
}
/*重置列表样式*/
ul,ol,li{
    list-style-type:none; /*不使用项目符号，清除无序列表前的黑点*/
}
/*重置字体样式*/
em,i{
    font-style:normal; /*设置默认属性*/
}
/*重置链接样式*/
a{
    text-decoration:none; /*去下划线*/
}
/*重置输入和多选样式*/
input，select{
    border:none; /*去边框*/
    outline:none; /*轮廓，当元素获得焦点框时焦点框为0*/
}
/*清除浮动*/
.clearfix:after {
    content: "."; /*在class为clearfix后加“.”*/
    height: 0;
    visibility: hidden; /*使元素不可见*/
    display: block; /*变为块级元素*/
    clear: both; /*在左右两侧均不允许浮动元素*/
}