<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/css/reset.css" rel="stylesheet">
  <link href="/static/css/common.css" rel="stylesheet">
  <link href="/static/css/icon/css/font.css" rel="stylesheet">
  <link href="/static/css/font.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/shoppingCar.css">
  <link rel="stylesheet" href="/static/element-ui/lib/theme-chalk/index.css">
  <title>购物车</title>
</head>

<body>
  <!--页面头部-->
  <div id="header">
    <!--导航栏-->
    <div class="headerInner">
      <!--四个导航链接-->
        <div class="header_nav">
          <ul>
            <li class="active"><a href="/index/"><i class="icon fa-home"></i>首页</a>
            </li>
            <li><a href="/search/?uid={{ request.session.uid }}"><i class="icon fa-bullseye"></i>搜索</a></li>
            <li><a href="/collection/?uid={{ request.session.uid }}"><i class="icon fa-heart"></i>收藏</a></li>
            <li class="operate" style="width:110px;text-align:left;">
              <a href="#"><i class="icon fa-steam"></i>操作</a>
              <ul class="operate_list">
                <li style="width:100%;"><a href="/addGoods/?uid={{ request.session.uid }}">上传商品</a></li>
                <li style="width:100%;"><a href="/myGoods/?uid={{ request.session.uid }}">我的卖品</a></li>
              </ul>
            </li>
          </ul>
        </div>

      <!--网站logo-->
      <div class="header_logo">
        <h1>
          <img src="/static/images/logo.png" alt="物语logo" />
        </h1>
      </div>
      <!-- 导航栏用户信息 -->
      <div class="userinfo">
        <a href="/settings/?uid={{request.session.uid}}" style="color:black;" class="settings"><i class="icon fa-user-circle-o"></i> {{ request.session.username }}</a>
        <i class="shopcar icon fa-shopping-basket" aria-hidden="true"> 购物车</i>
      </div>
    </div>
  </div>

  <div id="app" class="main">
    <!-- 全部商品标签 -->
    <div>
      <h3>全部商品</h3>
    </div>
    <div class="main_inner">
      <!-- 购物车头部 -->
      <div class="cart_title">
        <div class="checkall"><input type="checkbox" class="checka" />全选</div>
        <div class="goods">商品</div>
        <div class="price">单价</div>
        <div class="amount">数量</div>
        <div class="count">小计</div>
        <div class="operate">操作</div>
      </div>
      <!-- 商品盒子 -->
      {% for goods in shop_list %}
      <div class="cart-item check-cart-item">
        <div class="sid" style="display:none;">{{ goods.sid }}</div>
        <div class="p-checkbox">
          <input type="checkbox" checked="true" class="j-checkbox" />
        </div>
        <div class="goods_info">
          <img class="order_img" src="{{ goods.logo }}" />
          <p class="p1" style="text-align:center;">{{ goods.name }} - {{ goods.info }}</p>
        </div>
        <div class="p-price">￥{{ goods.price }}</div>
        <div class="p-amount">
          <a href="###" class="decrement" style="border-right:none;">-</a>
          <input type="text" class="itxt" value="1" />
          <a href="###" class="increment">+</a>
        </div>
        <div class="p-count">￥{{ goods.price }}</div>
        <div class="p-delete"><a href="/shoppingCar/?uid={{ request.session.uid }}&delete={{ goods.sid }}">删除</a></div>
      </div>
      {% endfor %}
      <div class="outcome" style="position:relative;">
        <div class="checkall"><input type="checkbox" class="checka" />全选</div>
        <div class="drop">
          <a href="#" class="deletes">删除选中的商品</a>
          <a href="/shoppingCar/?uid={{ request.session.uid }}&delall=1" class="clearall">清空购物车</a>
        </div>
        <div class="show">已经选择<span class="choose">1</span>件商品</div>
        <div class="zj">总价：<span class="z-price">￥12.06</span></div>

        <el-button class="settlement" type="text" @click="centerDialogVisible = true"
        style="
        position:absolute;
        text-align: center;
        right:0;
        color: white;
        background-color: gray;
        font-weight: bold;
        width: 8%;
        height: 48px;
        line-height: 28px;
        border-radius: 10px;">去结算</el-button>
        <span id="uid" style="display:none;">{{ request.session.uid }}</span>
        <el-dialog title="订单信息" :visible.sync="centerDialogVisible" width="30%" center>
          <el-date-picker class="date" type="date" value-format=”yyyy-MM-dd” placeholder="选择日期" v-model="form.date1" style="width: 100%;"></el-date-picker>
          <el-time-picker class="time" value-format=”HH:mm:ss” placeholder="选择时间" v-model="form.date2" style="width: 100%;"></el-time-picker>
          <el-select v-model="form.region" placeholder="请选择收货地点">
            <el-option label="菊园" value="菊园"></el-option>
            <el-option label="桂圆" value="桂圆"></el-option>
            <el-option label="梅园" value="梅园"></el-option>
            <el-option label="兰园" value="兰园"></el-option>
            <el-option label="竹园" value="竹园"></el-option>
            <el-option label="枣园" value="枣园"></el-option>
          </el-select>
          <span slot="footer" class="dialog-footer">
            <el-button @click="centerDialogVisible = false">取 消</el-button>
            <el-button class="save" class="settlement_confirm" type="info" @click="centerDialogVisible = false">确 定</el-button>
          </span>
        </el-dialog>
      </div>
    </div>
  </div>
  </div>
  

  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/jquery.cookie.js"></script>
  <script src="/static/js/vue.js"></script>
  <script src="/static/element-ui/lib/index.js"></script>
  <script src="/static/js/shoppingCar.js"></script>

</body>

</html>